<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target
      name="logfile" xsi:type="File" fileName="${basedir}/Logs/ItipsWebServices_${shortdate}.log"
      layout="${longdate}|${level:uppercase=true}|${callsite}|${message}" deleteOldFileOnStartup="false"
      createDirs="true"
    />
  </targets>
  <rules>
    <logger name="*" minlevel="TRACE" writeTo="logfile" />
  </rules>
</nlog>